.apartment {
  padding: 130px 0 200px;
  &__inner {
    &-title {
      margin-bottom: 50px;
      .back {
        margin-bottom: 28px;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-buttons {
      width: 100%;
      max-width: 340px;
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
    }
    &-content {
      width: calc(50% - 15px);
      max-width: 740px;
    }
    &-main {
      width: calc(50% - 15px);
      max-width: 800px;
    }
    &-slider {
      margin-bottom: 40px;
    }
    &-swiper {
      margin: 0 -5px;
    }
    .button {
      width: 100%;
      margin-bottom: 26px;
      &:last-child {
        margin: 0;
      }
    }
    .slick {
      &-track {
        min-width: 100% !important;
        display: flex !important;
        justify-content: flex-start;
      }
      &-slide {
        height: unset !important;
      }
    }
  }
  &Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 40px;
      background-color: #e2d8c8;
      margin-bottom: 4px;
      &:nth-child(even) {
        background-color: #faf8f5;
      }
      &:last-child {
        margin: 0;
      }
    }
    p {
      color: $black;
      font-weight: 400;
      b {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  &Item {
    border: 2px solid #e2d8c8;
    padding: 35px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 680px;
      min-height: 500px;
      &.portrait {
        width: 65%;
        max-width: 460px;
      }
      img {
        width: 100%;
        z-index: 2;
      }
    }
  }
  &Card {
    border: 2px solid #e2d8c8;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex !important;
    justify-content: center;
    align-items: center;
    &__inner {
      width: 100%;
      padding-bottom: 75%;
      position: relative;
      overflow: hidden;
      &.portrait {
        width: 60%;
        max-width: 90px;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 12px);
        transform: translate(-50%, -50%);
      }
    }
  }
}
// 1380px
@mixin apartment-xxxlg-xxxxlg {
  .apartment {
    padding: 100px 0 150px;
    &__inner {
      &-title {
        margin-bottom: 40px;
      }
      &-slider {
        margin-bottom: 24px;
      }
      &-buttons {
        max-width: 300px;
        margin-bottom: 60px;
      }
    }
    &Item {
      padding: 20px;
      &__inner {
        min-height: 400px;
      }
    }
  }
}
// 1250px
@mixin apartment-xlg-xxlg-extra {
  .apartment {
  }
}
// 1180px
@mixin apartment-xlg-xxlg {
  .apartment {
    padding: 70px 0 110px;
  }
}
// 1024px
@mixin apartment-lg-xlg {
  .apartment {
    padding: 60px 0 80px;
    &__inner {
      &-title {
        margin-bottom: 30px;
        .back {
          margin-bottom: 18px;
        }
      }
      &-content {
        width: calc(45% - 8px);
      }
      &-main {
        width: calc(55% - 8px);
      }
      &-slider {
        margin-bottom: 12px;
      }
      &-buttons {
        max-width: 260px;
        margin-bottom: 40px;
      }
      .button {
        margin-bottom: 18px;
      }
    }
    &Info {
      margin-bottom: 40px;
      &__row {
        padding: 5px 20px;
      }
    }
    &Item {
      padding: 14px;
      border-width: 1px;
      &__inner {
        min-height: 300px;
      }
    }
    &Card {
      border-width: 1px;
    }
  }
}
// 930px
@mixin apartment-md-lg {
  .apartment {
  }
}
// 750px
@mixin apartment-sm-md {
  .apartment {
    padding: 50px 0;
    &__inner {
      &-row {
        flex-direction: column;
      }
      &-content {
        width: 100%;
        max-width: unset;
        margin-bottom: 30px;
      }
      &-main {
        width: 100%;
        max-width: unset;
      }
      &-buttons {
        flex-direction: row;
        max-width: unset;
        margin: 0 -5px 30px;
      }
      .button {
        margin: 5px;
        width: calc(50% - 10px);
        &:last-child {
          margin: 5px;
        }
      }
    }
    &Info {
      margin-bottom: 30px;
    }
  }
}
// 650px
@mixin apartment-sm-md-extra {
  .apartment {
  }
}
// 540px
@mixin apartment-xsm-sm {
  .apartment {
    &__inner {
      &-title {
        margin-bottom: 20px;
      }
      &-buttons {
        flex-direction: column;
      }
      &-swiper {
        margin: 0 -3px;
      }
      .button {
        width: 100%;
        margin: 0 0 10px 0;
        &:last-child {
          margin: 0;
        }
      }
    }
    &Card {
        margin: 0 3px;
    }
  }
}
// 440px
@mixin apartment-xxsm-xsm {
  .apartment {
  }
}
