.hero {
  padding-top: 118px;
  position: relative;
  &.sm {
    .hero {
      &__inner {
        min-height: 540px;
        padding: 0;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba($black, 0.3);
      z-index: 1;
    }
    img {
      @include fullImage;
      animation: sizing 8s linear infinite alternate-reverse;
    }
  }
  &__inner {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 118px);
    position: relative;
    z-index: 2;
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
    padding-top: 100px;
    &.sm {
      .hero {
        &__inner {
          min-height: 480px;
        }
      }
    }
    &__inner {
      min-height: calc(100vh - 100px);
    }
  }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
    padding-top: 80px;
    &.sm {
      .hero {
        &__inner {
          min-height: 380px;
        }
      }
    }
    &__inner {
      min-height: calc(100vh - 80px);
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    padding-top: 70px;
    &.sm {
      .hero {
        &__inner {
          min-height: 300px;
        }
      }
    }
    &__inner {
      min-height: calc(100vh - 70px);
    }
  }
}
// 440px
@mixin hero-xxsm-xsm {
  .hero {
  }
}
.present {
  padding: 90px 0 190px;
  &.uniq {
    padding: 100px 0 220px;
    background-color: #faf8f5;
    .present__inner {
      &-content {
        max-width: 747px;
      }
    }
  }
  &.sm {
    padding-bottom: 90px;
  }
  &__inner {
    &-title {
      margin-bottom: 100px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 150px;
      &:last-child {
        margin: 0;
      }
    }
    &-content {
      width: calc(50% - 15px);
      max-width: 640px;
    }
    &-image {
      padding-bottom: 56%;
      position: relative;
      overflow: hidden;
      &-wrapper {
        width: calc(50% - 15px);
        max-width: 800px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    ul {
      margin-bottom: 30px;
      li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 6px;
        &:last-child {
          margin: 0;
        }
        span {
          position: absolute;
          top: 3px;
          left: 0;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
          }
        }
      }
    }
    .button {
      min-width: 280px;
    }
    h3 {
      margin-bottom: 40px;
    }
    h4 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}
// 1380px
@mixin present-xxxlg-xxxxlg {
  .present {
    padding: 80px 0 160px;
    &.uniq {
      padding: 80px 0 160px;
    }
    &.sm {
      padding-bottom: 80px;
    }
    &__inner {
      &-title {
        margin-bottom: 80px;
      }
      &-row {
        margin-bottom: 110px;
      }
      .button {
        min-width: 260px;
      }
    }
  }
}
// 1180px
@mixin present-xlg-xxlg {
  .present {
    padding: 70px 0 120px;
    &.uniq {
      padding: 70px 0 120px;
    }
    &.sm {
      padding-bottom: 70px;
    }
    &__inner {
      &-title {
        margin-bottom: 50px;
      }
      &-row {
        margin-bottom: 70px;
      }
      ul {
        li {
          padding-left: 25px;
          span {
            top: 2px;
            width: 16px;
            height: 16px;
          }
        }
      }
      h3 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 24px;
      }
    }
  }
}
// 930px
@mixin present-md-lg {
  .present {
    padding: 60px 0 90px;
    &.uniq {
      padding: 60px 0 90px;
    }
    &.sm {
      padding-bottom: 60px;
    }
    &__inner {
      &-title {
        margin-bottom: 35px;
      }
      &-row {
        margin-bottom: 50px;
        align-items: center;
      }
      &-content {
        width: calc(50% - 8px);
      }
      &-image {
        &-wrapper {
          width: calc(50% - 8px);
        }
      }
      .button {
        min-width: 230px;
      }
      h3 {
        margin-bottom: 16px;
      }
      h4 {
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }
}
// 750px
@mixin present-sm-md {
  .present {
    padding: 50px 0;
    &.uniq {
      padding: 50px 0;
    }
    &.sm {
      padding-bottom: 50px;
    }
    &__inner {
      &-title {
        margin-bottom: 24px;
      }
      &-row {
        flex-direction: column;
        margin-bottom: 35px;
      }
      &-content {
        width: 100%;
        max-width: unset;
      }
      &-image {
        &-wrapper {
          width: 100%;
          max-width: unset;
          order: -1;
          margin-bottom: 20px;
        }
      }
    }
  }
}
// 540px
@mixin present-xsm-sm {
  .present {
    padding: 40px 0;
    &.uniq {
      padding: 40px 0;
    }
    &.sm {
      padding-bottom: 40px;
    }
  }
}
.project {
  padding: 150px 0 160px;
  &__inner {
    &-title {
      margin-bottom: 40px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -28px;
    }
    &-foot {
      padding-top: 100px;
      display: flex;
      justify-content: center;
    }
    h2 {
      margin-bottom: 22px;
    }
    .button {
      width: 100%;
      max-width: 340px;
    }
  }
  &Item {
    width: calc(50% - 56px);
    margin: 23px 28px;
    &:hover {
      opacity: 1;
      img {
        transform: scale(1.08);
      }
    }
    &__inner {
      padding-bottom: 56%;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        transition: 0.4s ease;
      }
    }
  }
}
// 1380px
@mixin project-xxxlg-xxxxlg {
  .project {
    padding: 120px 0;
    &__inner {
      &-title {
        margin-bottom: 30px;
      }
      &-row {
        margin: 0 -20px;
      }
      &-foot {
        padding-top: 80px;
      }
      .button {
        max-width: 300px;
      }
    }
    &Item {
      margin: 20px;
      width: calc(50% - 40px);
    }
  }
}
// 1180px
@mixin project-xlg-xxlg {
  .project {
    padding: 80px 0;
    &__inner {
      &-row {
        margin: 0 -12px;
      }
      &-foot {
        padding-top: 60px;
      }
      h2 {
        margin-bottom: 16px;
      }
      .button {
        max-width: 270px;
      }
    }
    &Item {
      margin: 12px;
      width: calc(50% - 24px);
    }
  }
}
// 930px
@mixin project-md-lg {
  .project {
    padding: 60px 0;
    &__inner {
      &-row {
        margin: 0 -8px;
      }
      &-foot {
        padding-top: 40px;
      }
      h2 {
        margin-bottom: 16px;
      }
      .button {
        max-width: 240px;
      }
    }
    &Item {
      margin: 8px;
      width: calc(50% - 16px);
    }
  }
}
// 750px
@mixin project-sm-md {
  .project {
    padding: 50px 0;
    &__inner {
      &-row {
        margin: 0;
      }
      &-foot {
        padding-top: 30px;
      }
      h2 {
        margin-bottom: 16px;
      }
      .button {
        max-width: 240px;
      }
    }
    &Item {
      margin: 0 0 24px 0;
      width: 100%;
      max-width: unset;
      &:last-child {
        margin: 0;
      }
    }
  }
}
// 540px
@mixin project-xsm-sm {
  .project {
    padding: 40px 0;
    &__inner {
      &-title {
        margin-bottom: 24px;
      }
      h2 {
        margin-bottom: 14px;
      }
    }
    &Item {
      margin-bottom: 18px;
    }
  }
}
.features {
  padding: 150px 0 125px;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    overflow: hidden;
    img {
      @include fullImage;
      animation: sizing 10s ease-in-out infinite alternate-reverse;
    }
  }
  &__inner {
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1360px;
      margin: 0 auto;
    }
  }
  &Item {
    width: calc(25% - 15px);
    max-width: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__icon {
      width: 105px;
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      background-color: $white;
      &.sm {
        img {
          width: 47%;
          max-width: 48px;
        }
      }
      &.ex {
        img {
          width: 41%;
          max-width: 43px;
        }
      }
      img {
        width: 52%;
        max-width: 55px;
      }
    }
    h5 {
      margin-bottom: 24px;
      color: $primary;
      text-transform: uppercase;
    }
    p {
      color: $white;
    }
  }
}
// 1180px
@mixin features-xlg-xxlg {
  .features {
    padding: 100px 0;
  }
}
// 930px
@mixin features-md-lg {
  .features {
    padding: 80px 0;
    &Item {
      &__icon {
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
      }
      h5 {
        margin-bottom: 14px;
      }
    }
  }
}
// 750px
@mixin features-sm-md {
  .features {
    &__inner {
      &-row {
        margin: 0 -10px;
      }
    }
    &Item {
      width: calc(50% - 20px);
      margin: 20px 10px;
      max-width: 320px;
      &__icon {
        width: 120px;
        height: 120px;
      }
    }
  }
}
// 540px
@mixin features-xsm-sm {
  .features {
    padding: 50px 0;
    &__inner {
      &-row {
        margin: 0 -8px;
      }
    }
    &Item {
      width: calc(50% - 16px);
      margin: 15px 8px;
      &__icon {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
      }
      h5 {
        margin-bottom: 10px;
      }
    }
  }
}
// 380px
@mixin features-xxxsm-xxsm {
  .features {
    &__inner {
      &-row {
        margin: 0;
        flex-direction: column;
        align-items: center;
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0 0 32px 0;
      &__icon {
        width: 120px;
        height: 120px;
      }
    }
  }
}
.comfort {
  padding-bottom: 220px;
  padding: 50px 0 220px;
  &__inner {
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-col {
      width: calc(33.3% - 15px);
      max-width: 433px;
    }
    h4 {
      margin-bottom: 32px;
    }
  }
}
// 1380px
@mixin comfort-xxxlg-xxxxlg {
  .comfort {
    padding: 50px 0 160px;
  }
}
// 1180px
@mixin comfort-xlg-xxlg {
  .comfort {
    padding: 30px 0 100px;
    &__inner {
      h4 {
        margin-bottom: 20px;
      }
    }
  }
}
// 930px
@mixin comfort-md-lg {
  .comfort {
    padding: 30px 0 70px;
    &__inner {
      &-row {
        flex-wrap: wrap;
      }
      &-col {
        width: 100%;
        max-width: unset;
        margin-bottom: 30px;
        &:last-child {
          margin: 0;
        }
      }
      h4 {
        margin-bottom: 14px;
      }
    }
  }
}
// 540px
@mixin comfort-xsm-sm {
  .comfort {
    padding: 20px 0 50px;
    &__inner {
      &-col {
        margin-bottom: 24px;
      }
      h4 {
        margin-bottom: 12px;
      }
    }
  }
}
